body{
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh !important;
  background: url(./asset/images/829031.jpg) no-repeat fixed center;
  background-size: cover;
}

/* topbar */

.Topbar {
  background-color: #191c1c77;
  height: 60px;
  display: flex;
  margin-top: 0px !important;
  justify-content: space-between;
}

.nav_ul2 li {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
}

a:-webkit-any-link{
  color: white;
  text-decoration: none;
}

.forgot {
  display: flex;
  margin-top: 15px !important;
  color: rgb(50, 44, 138) !important;
}